a {
  text-decoration: none;
}
.styled-pagination {
  position: relative;
}

.styled-pagination li {
  position: relative;
  margin: 0px 4px 5px;
  display: inline-block;
}

.styled-pagination li a {
  position: relative;
  width: 40px;
  height: 40px;
  color: #03382e;
  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
  background-color: #ffffff;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.styled-pagination li.active a,
.styled-pagination li:hover a {
  color: #ffffff;
  background-color: #43baff;
}

.styled-pagination li.prev a,
.styled-pagination li.next a {
  font-size: 18px;
  font-weight: 600;
}

/*** 

====================================================================
	Topics Section
====================================================================

***/

.topics-section {
  position: relative;
  padding: 150px 0px 80px;
  background-color: #f0f5fb;
}

.topics-section .patern-layer-one {
  position: absolute;
  left: -170px;
  top: -80px;
  width: 336px;
  height: 316px;
  background-repeat: no-repeat;
}

.topics-section .patern-layer-two {
  position: absolute;
  right: 0px;
  top: 150px;
  width: 106px;
  height: 200px;
  background-repeat: no-repeat;
}

.topics-section .btn-box {
  position: relative;
  margin-top: 20px;
}

.topic-block {
  position: relative;
  margin-bottom: 30px;
}

.topic-block .inner-box {
  position: relative;
  padding: 30px 30px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

.topic-block .inner-box .icon-box {
  position: relative;
  width: 80px;
  height: 80px;
  color: #fff;
  font-size: 36px;
  margin: 0 auto;
  border-radius: 5px;
  line-height: 85px;
  text-align: center;
  background-color: #403b6e;
}

.topic-block .inner-box .overlay-link {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

.topic-block .inner-box h5 {
  position: relative;
  font-weight: 600;
  line-height: 1.3em;
  margin-top: 30px;
}

.topic-block .inner-box h5 a {
  position: relative;
  color: #03382e;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.topic-block .inner-box h5 a:hover {
  color: #43baff;
}

.topic-block .inner-box .text {
  position: relative;
  line-height: 1.8em;
  color: #626262;
  margin-top: 15px;
  margin-bottom: 25px;
}

.topic-block .inner-box .lectures {
  position: relative;
  color: #393939;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
}

.topic-block .inner-box .hours {
  position: relative;
  color: #43baff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4em;
}

.topic-block:nth-child(2) .inner-box .icon-box {
  background-color: #403b6e;
}

.topic-block:nth-child(3) .inner-box .icon-box {
  background-color: #403b6e;
}

.topic-block:nth-child(4) .inner-box .icon-box {
  background-color: #403b6e;
}

.topic-block:nth-child(5) .inner-box .icon-box {
  background-color: #403b6e;
}

.topic-block:nth-child(6) .inner-box .icon-box {
  background-color: #403b6e;
}

.topic-block:nth-child(7) .inner-box .icon-box {
  background-color: #403b6e;
}

.topic-block:nth-child(8) .inner-box .icon-box {
  background-color: #403b6e;
}
/*** 

====================================================================
	Courses Section
====================================================================

***/

.courses-section {
  position: relative;
  padding: 30px 0px 65px;
  background-color: #f0f5fb;
}

.courses-section .title-column {
  position: relative;
}

.courses-section .title-column .inner-column {
  position: relative;
  padding-top: 125px;
}

.cource-block {
  position: relative;
  margin-bottom: 30px;
}

.cource-block .inner-box {
  position: relative;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
}

.cource-block .inner-box .image {
  position: relative;
  overflow: hidden;
}

.cource-block .inner-box .image img {
  position: relative;
  width: 100%;
  display: block;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.cource-block .inner-box:hover .image img {
  transform: scale(1.09, 1.09) rotate(2deg);
}

.cource-block .inner-box .image:before {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  display: block;
  content: "";
  width: 75%;
  height: 100%;
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 171, 21, 0.4) 100%
  );
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 171, 21, 0.4) 100%
  );
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}

.cource-block .inner-box:hover .image:before {
  -webkit-animation: shine 0.75s;
  animation: shine 0.75s;
}

@-webkit-keyframes shine {
  100% {
    left: 125%;
  }
}
@keyframes shine {
  100% {
    left: 125%;
  }
}

.cource-block .inner-box .lower-content {
  position: relative;
  padding: 25px 30px;
}

.cource-block .inner-box .lower-content h5 {
  position: relative;
  color: #03382e;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 1px;
}

.cource-block .inner-box .lower-content h5 a {
  position: relative;
  color: #03382e;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.cource-block .inner-box .lower-content h5 a:hover {
  color: #43baff;
}

.cource-block .inner-box .lower-content .price {
  position: relative;
  color: #43baff;
  font-size: 16px;
  font-weight: 600;
}

.cource-block .inner-box .lower-content .text {
  position: relative;
  color: #626262;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8em;
  margin-top: 15px;
  margin-bottom: 20px;
}

.cource-block .inner-box .lower-content .students {
  position: relative;
  color: #393939;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4em;
  margin-top: 20px;
}

.cource-block .inner-box .lower-content .enroll {
  position: relative;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4em;
  top: 10px;
  text-decoration: none;
  right: 5px;
  padding: 9px 24px;
  display: inline-block;
  border-radius: 50px;
  letter-spacing: 1px;
  background-color: #43baff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.cource-block .inner-box .lower-content .enroll:hover {
  background-color: #09608c;
}

/* Course Overview */

.course-overview {
  position: relative;
}

.course-overview .inner-box {
  position: relative;
  padding: 0px 40px 40px;
}

.course-overview .inner-box h4 {
  position: relative;
  color: #03382e;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 15px;
}

.course-overview .inner-box p {
  position: relative;
  color: #626262;
  font-size: 16px;
  line-height: 1.8em;
  margin-bottom: 15px;
}

.course-overview .inner-box .student-list {
  position: relative;
  margin-top: 25px;
  margin-bottom: 20px;
}

.course-overview .inner-box .student-list li {
  position: relative;
  color: #393939;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3em;
  margin-right: 80px;
  display: inline-block;
  list-style: disc;
  margin-bottom: 10px;
}

.course-overview .inner-box .student-list li .fa {
  color: #43baff;
  margin: 0px 2px;
}

.course-overview .inner-box .student-list li:last-child {
  margin-right: 0px;
}

.course-overview .inner-box h3 {
  position: relative;
  color: #03382e;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 18px;
}

/* Requirement List */

.course-overview .inner-box .requirement-list {
  position: relative;
  margin-bottom: 20px;
  margin-left: 15px;
}

.course-overview .inner-box .requirement-list li {
  position: relative;
  color: #626262;
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 10px;
  list-style: disc;
}

.course-overview .inner-box .requirement-list li:last-child {
  margin-bottom: 0px;
}
a {
  text-decoration: none;
}
