@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

.container-form {
  background-color: #403b6e;
}
.content-holder {
  background-color: #403b6e;
}
label {
  display: block;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  float: left;
}

input,
select {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
}

.radio-container {
  font-size: 10px;
  position: relative;
  left: -1px;
  top: -20px;
}

input[type="radio"] {
  display: none;
}

.Gender {
  position: relative;
  cursor: pointer;

  font-size: 13px;
  right: 10px;
  color: #000;
}

.Gender:nth-last-child(1) {
  padding-right: 0;
}

.Gender:nth-last-child(1) {
  padding-right: 0;
}

.Gender::before {
  content: "";
  border: 2px solid #ccc;
  display: inline-block;
  width: 7px;
  height: 9px;
  position: relative;
  top: 6px;
  left: 10px;
  margin: 5px 20px;
  margin-left: 4.5px;
  border-radius: 50%;
}

.Gender::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 7px;
  height: 7px;
  left: 16.8px;
  top: 22px;
  margin: -8px 20px;
  margin-left: 0;
  border-radius: 50%;

  transition: all 0.4s;
}

input[type="radio"]:checked + .Gender::after {
  background: #43baff;
}
textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  height: 70px;
  border: 1px solid #ccc;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

/* Progressbar */
.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem 0 4rem;
}

.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;

  z-index: -1;
}
.progress::before {
  background-color: #43baff;
}
.progress {
  background-color: #43baff;
  width: 0%;
  transition: 0.3s;
}

.progress-step {
  width: 2.1875rem;
  height: 2.1875rem;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 0.5rem);
  font-size: 0.85rem;
  color: #666;
}

.progress-step-active {
  background-color: #43baff;
  color: #f3f3f3;
}

/* Form */
.form {
  width: clamp(320px, 30%, 430px);
  margin: 0 auto;
  position: relative;
  top: 150px;
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.form-step {
  display: none;
  transform-origin: top;
  animation: animate 0.5s;
}

.form-step-active {
  display: block;
}

.input-group {
  margin: 2rem 0;
}

@keyframes animate {
  from {
    transform: scale(1, 0);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}

/* Button */
.btns-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem;
  display: block;
  text-decoration: none;
  background-color: #43baff;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 0 0 0 2px #fff, 0 0 0 3px #43baff;
}
